<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
    <li>
      <a
        class="facebook"
        href="https://www.coursera.org/account/accomplishments/verify/S12CBUPM1R6V?utm_product=course"
        ><ion-icon name="logo-facebook"></ion-icon
      ></a>
    </li>
    <li>
      <a class="twitter" href="https://leetcode.com/u/matinz03/"
        ><ion-icon name="logo-twitter"></ion-icon
      ></a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/matin-zomorrodabedi-3baa46268?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bx60Y%2BnYURMOoQ4f1mnk%2FWQ%3D%3D"
        ><ion-icon name="logo-linkedin"></ion-icon
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/matinz03/"
        ><ion-icon name="logo-instagram"></ion-icon
      ></a>
    </li>
    <li class="tel">
      <a href="https://t.me/MATlNZ03"
        ><img src="/images/telegram-10-32.png" alt="telegram"
      /></a>
    </li>
  </ul>

  <ul class="menu">
    <li><a href="/home">Home</a></li>
    <li><a href="/projects">projects</a></li>
    <li>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404"
        >Work</a
      >
    </li>
    <li><a href="contact">Contact</a></li>
  </ul>
  <p class="copyright">All rights reserved. Zland03(ヾ(＠⌒ー⌒＠)ノ)</p>
</footer>
<script>
  document.querySelector(".facebook").addEventListener("click", () => {
    alert("FACEBOOK???? nah, we're going to Coursera");
  });

  document.querySelector(".twitter").addEventListener("click", () => {
    alert(" This dudes been sold out long ago... How about some Leetcode?🫡");
  });
</script>
<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
